<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Annotations">
    <test name="Run Class Annotations">
        <classes>
            <class name="DemoTestNG.ConfigurationsAnnotations_1_DatePickers"/>
            <class name="DemoTestNG.ConfigurationsAnnotations_2_ListBox"/>
        </classes>
    </test>
</suite>
